if SHIELD_MTERGOSPLITROW_LEFT

config ZMK_KEYBOARD_NAME
    default "mtergosplitrow"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MTERGOSPLITROW_LEFT || SHIELD_MTERGOSPLITROW_RIGHT

config ZMK_SPLIT
    default y

endif